
<%= render 'shared/header' %>


  <div class="container">

    <h1 class="index-mountain-title"><%= fa_icon "sun-o" %>山の一覧</h1>


    <div class="row">

        <%= render @mountains %>

      </div>
    </div>

<%= render 'shared/footer' %>
