
<%= render 'shared/header' %>



<div class="container">

  <div class="about-page-wrapper">


    <h3 class="about-page-title"><%= fa_icon "question-circle-o" %>ヤマワケ！とは？</h3>





  </div>




</div>

<%= render 'shared/footer' %>
