
<%= render 'shared/header' %>


<div class="home-top-image">
  <div class="bg-inner">
    <h1>山かします。山かります。</h1>
    <p>空いている山を有効活用しませんか？</p>
  </div>

</div>

<div class="home-wrapper">
  <div class="container">

  <h2 class="home-new-title"><%= fa_icon "tree" %>新着</h2>



  <div class="row">


    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag("mountain.jpg") %>
        <div class="caption">
          <h3>山の名前</h3>
          <p class="yama-explain">山の説明、山の説明、山の説明、山の説明、山の説明、山の説明、</p>
          <p><a href="#" class="btn btn-primary" role="button">詳細を見にく</a>
        </div>
      </div>
    </div>
    <!-- col-sm-6 -->







</div>
<!-- row -->








  </div>
</div>


<%= render 'shared/footer' %>
