// Place all the styles related to the mountains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// _mountain.html.erb

.yama-explain {
    margin-top: 23px;
    margin-bottom: 27px;

   p {

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

}



// index.html.erb


.index-mountain-title {
  margin-top: 70px;
  margin-bottom: 70px;

  i {
    padding-right: 10px;
    color: rgba(255, 138, 0, 0.85);
  }
}

.mountain-image {
  img {
    height: 180px!important;
    width: 100%!important;
  }
}


// show.html.erb



.mountain-show-image {
  margin-bottom: 200px;

  h2 {
    margin-bottom: 50px;
    padding-left: 100px;
    font-family: serif;
  }

  img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;

  }
}

.mountain-show-contents {
    margin-top: 50px;
    margin-bottom: 100px;

  img {
    height: 120px;
    width: 120px;
  }
}

.mountain-title {
  font-size: 40px;
  margin-left: 80px;
  padding-bottom: 30px;
}

.mountain-detail {
  margin-top: 30px;
  p {
    text-align: center;
    color: #666;
    font-size: 20px;
  }

  i {
    display: block;
    font-size: 60px;
    text-align: center;
    padding-bottom: 15px;

  }

  .fa-money {
    color: #f7e92b;
  }

  .fa-map-marker {
    color: #4ecc2e;
  }

  .fa-calendar {
    color: #eb5b26;
  }

}
