// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// home.html.erb


.home-top-image {
  background-image: url("/assets/mountain.jpg");
  background-size: cover;

  h1 {
    color: #FFF;
    letter-spacing: 3px;
    font-size: 66px;
    margin-bottom: 22px;
  }

  p {
    color: #FFF;
    letter-spacing: 2px;
  }


}

.bg-inner {
  padding-top: 200px;
  padding-bottom: 150px;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
}
