// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// show.html.erb

.user-show-profile {
  margin-top: 70px;


  img {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: block;

  }
}

.user-have-mountains {
  margin-top: 70px;
  margin-bottom: 100px;

  h2 {
    margin-bottom: 50px;
  }

}

.user-show-detail {
  p {
    padding-top: 20px;
    color: #666;
  }
}

// registration/new.html.erb

.sign-up {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 100px;

  input[type="email"] {
    width: 90%;
  }

  input[type="password"] {
    width: 90%;
  }

  input[type="email"] {
      width: 90%;
    }

  input[type="submit"] {
      margin-top: 50px;
      margin-bottom: 10px;
      padding: 10px;
      background: rgb(49, 198, 19);
      color: #FFF;
      border: none;
      text-align: center;
      width: 200px;
      display: block;
      border-radius: 3px;
    }

  label {
    margin-top: 27px;
    margin-bottom: 20px;

  }

}

.sign-up-title {
  text-align: center;
  color: #666;
  margin-top: 50px;

}
