// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// show.html.erb

.user-show-profile {
  margin-top: 70px;


  img {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: block;

  }
}

.user-have-mountains {
  margin-top: 70px;
  margin-bottom: 100px;

  h2 {
    margin-bottom: 50px;
  }

}

.user-show-detail {
  p {
    padding-top: 20px;
    color: #666;
  }
}
